<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JWT TEST</title>
    <link rel="stylesheet" href="/css/SecurityTestStylesheet.css">
    <script src="/js/SecurityTestScript.js"></script>
</head>
<body>
<section>
    <h1>JWT Test</h1>
    <form id="login-form" action="http://localhost:8080/api/v1/auth/signin" method="post">
        <label>
            <input type="text" name="username" placeholder="username" required>
        </label>
        <label>
            <input type="password" name="password" placeholder="password" required>
        </label>
        <button type="submit">Login</button>
    </form>
    <div id="result"></div>
</section>
</body>
</html>